@model LibraryMVCProject.Models.Entity.TblYazar
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YazarEkle</h2>

<form class="form-group" method="post">
    <br />
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.Ad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.Soyad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Detay</label>
        @Html.TextAreaFor(y => y.Detay, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
</form>